* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik';
}

.container {
    max-width: 1040px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.site-header {
    padding: 20px 0;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.site-header__inner {
    display: flex;
    align-items: center;
}

.site-header__title {
    font-size: 26px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

.site-header__btn {
    border: none;
    background-color: transparent;
    color: #333333;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.site-header__btn:hover {
    color: #000;
}
.contact-me {
    margin: 0 30px 0 auto;
}

.menu {
    display: none;
    outline: none;
}

.hero {
    padding: 70px 0 0;
}
.hero__top {
    display: flex;
}

.hero__img {
    max-width: 180px;
    border-radius: 50%;
}

.hero__abouts {
    margin-left: 40px;
}
.hero__name {
    font-size: 38px;
    margin-top: 10px;
    opacity: 0.8;
}

.hero__status {
    margin: 5px 0 20px;
    color: #333;
    opacity: 0.8;
    font-size: 24px;
}

.hero__socillink {
    margin: 0 20px 0 0;
    background-image: url('../images/free-icon-github-2111432.png');
    padding: 6px 15px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__socillink:nth-child(2) {
    background-image: url('../images/facebook.png');
}
.hero__socillink:nth-child(3) {
    background-image: url('../images/free-icon-linkedin-1384014.png');
}
.hero__socillink:nth-child(4) {
    background-image: url('../images/telegram.png');
}


.hero__bottom {
    padding: 30px 0 0;
}

.hero__aforizm {
    display: block;
    margin: 0 0 20px;
    font-size: 24px;
    color: #333;
    opacity: 0.7;
}

.hero__bottom__linkbox {
    display: flex;
    align-items: center;
}

.hero__about, .hero__skills {
    max-width: 130px;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.hero__skills {
    margin-right: 10px;
    color: #fff;
    background-color: #1E90FF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hero__skills:hover {
    opacity: 0.7;
}

.hero__about {
    background-color: #fff;
    color: #1E90FF;
    border-color: #1E90FF;
}
.hero__about:hover {
    opacity: 0.7;
}

.mobile-nav {
    display: none;
}

.hero__scroll {
    display: none;
}

@media only screen and (max-width: 576px) {
    .site-header__btn {
        display: none;
    }

    .site-header__title {
        font-size: 24px;
    }

    .menu {
        display: block;
        margin-left: auto;
        padding: 12px;
        background-image: url('../images/free-icon-menu-9294932.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .menu-bg {
        background-image: url('../images/cross-button.png');
    }

    .mobile-nav {
        display: none;
        position: fixed;
        width: 100%;
        z-index: 3;
        background-color:#fff;
    }
    @keyframes open {
        0% {
            height: 0;
        }
        100% {
            height: 70px;
        }
    }

    .blur {
        filter: blur(5px);
        animation: blur 500ms ease;
    }
    
    @keyframes blur {
        0% {
            filter: blur(0px);
        }
        100% {
            filter: blur(5px);
        }
    }


    .height {
        height: 70px;
        display: block;
        overflow: hidden;
        animation-name: open;
        animation-timing-function: ease;
        animation-duration: 500ms;
    }
    .mobile-nav__list {
        margin: 15px 0 0;
        padding: 0 10px 20px;
        list-style-type: none;
    }
    .mobile-nav__item:first-child {
        margin-bottom: 5px;
    }

    .mobile-nav__link {
        text-decoration: none;
        color: #333;
        transition: all 0.1s linear;
        border-bottom: 2px solid transparent;
    }
    .mobile-nav__link:hover {
        border-bottom: 2px solid #333;
    }

    .hero {
        padding: 20px 0 30px;
    }
    .hero__top {
        flex-direction: column;
    }

    .hero__img {
        max-width: 120px;
    }

    .hero__abouts {
        margin-left: 0;
    }
    .hero__name {
        font-size: 24px;
    }

    .hero__status {
        font-size: 20px;
    }

    .hero__socillink {
        padding: 5px 14px;
    }

    .hero__aforizm {
        font-size: 18px;
    }

    .hero__scroll {
        display: block;
        position: relative;
        text-align: center;
        margin: 35px 0 0;
        font-weight: 600;
        font-size: 14px;
        color: #333333;
    }
    .hero__scroll::after {
        position: absolute;
        width: 28px;
        left: calc(50% - 16px);
        top: 10px;
        height: 28px;
        background-image: url('../images/down-arrow.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        animation: scroll ease 2s infinite;
        content: '';
    }

    @keyframes scroll {
        0% {
            top: 12px;
        }
        50% {
            top: 22px;
        }
        100% {
            top: 12px;
        }
    }
}

.about {
    margin-top: 50px;
    padding-top: 50px;
}

.about__title {
    padding-bottom: 5px;
    color: #333;
    font-size: 32px;
    font-weight: 500;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.about__body {
    padding-top: 20px;
    font-size: 24px;
    font-style: italic;
}

@media only screen and (max-width: 576px) {
    .about {
        margin-top: 0;
    }

    .about__body {
        font-size: 18px;
    }
}





.skills {
    padding-top: 50px;
}

.skills__title {
    padding-bottom: 8px;
    color: #333;
    font-size: 32px;
    font-weight: 500;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.skills__body {
    padding-top: 50px;
}

.skills__item {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid gray;
}

.skills__item span {
    display: inline-block;
    padding-top: 5px;
}

.skills__item::before {
    position: absolute;
    top: -24px;
    font-weight: 600;
    color: #333;
}
.skills__item:first-child::before {
    content: 'HTML 95%';
    color: #E44D26;
}
.skills__item:nth-child(2):before {
    content: 'CSS 90%';
    color: #42A5F5;
}
.skills__item:nth-child(3):before {
    content: 'SASS 90%';
    color: #C93E6E;
}
.skills__item:nth-child(4):before {
    content: 'BOOTSTRAP 70%';
    color: #007ACC;
}
.skills__item:nth-child(5):before {
    content: 'JAVA SCRIPT 60%';
    color: #FFCA28;
}

.skills__item:nth-child(6):before {
    content: 'REACT JS (beginner) 10%';
    color: #00C0E3;
}



.skills__html {
    width: 95%;
    background-color: #E44D26;
}
.skills__css {
    width: 90%;
    background-color: #42A5F5;
}

.skills__sass {
    width: 90%;
    background-color: #C93E6E;
}

.skills__bs {
    width: 70%;
    background-color: #007ACC;
}

.skills__js {
    width: 60%;
    background-color: #FFCA28;
}

.skills__react {
    width: 10%;
    background-color: #00C0E3;
}